button {
    cursor: pointer;
}

.accor button {
    cursor: url("https://i.imgur.com/pqhNWjB.png"), pointer;
}

.accor a {
    cursor: url("https://i.imgur.com/pqhNWjB.png"), pointer;
}


.card {
    border-radius: 0;
    color: white;
    height: 33.33%;
}

.card-header {
    height: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-evn {
    justify-content: space-evenly;
}

.accor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80");
    cursor: url("https://i.imgur.com/bu4bVH6.png") 4 12, auto;
}

.accord label {
    cursor: pointer;
    
}

.accord {
    height: 70%;
    width: 75%;
    border-radius: 50px;
    border: 4px solid #000;
}

.accordion {
    height: 88%;
}

.br1 {
    border-radius: 45px 45px 0 0;
}

.divbut {
    height: 12%;
    border-radius: 0 0 42px 42px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center
}

.divbut button {
    border-radius: 4px;
    border: 0;
    width: 100%;
    padding: 10px;
    font-size: 26px;
    background-color: rgb(148, 50, 37);
    color: white;
}

.divbut a {
    border-radius: 4px;
    border: 0;
    width: 50%;
    padding: 10px;
}