html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Play', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cont {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    top: 0;
    left: 0;
}

.head {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.div-h1 {
    margin-top: 6.5rem;
}

.div-h1 h1 {
    text-align: center;
    color: white;
    font-size: 46px;
}

.div-button {
    text-align: center;
    margin-bottom: 13rem;
}

.div-button button {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    border-radius: 4px;
    border: 0;
    padding: 10px 40px;
}

.footer {
    background-color: black;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.logos-sociaux img {
    border-radius: 50%;
    margin-right: 1em;
    width: 48px;
    height: 48px;
}

.logos-sociaux img:hover {
    transform: scale(1.7);
}

.logos-sociaux div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 20px 0;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a {
    text-decoration: none;
    color: white;
}

.link a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 575.98px) {
    .sm-0 {
        display: none;
    }
    .sm-1 {
        width: 8.33%;
    }
    .sm-2 {
        width: 16.66%;
    }
    .sm-3 {
        width: 25%;
    }
    .sm-4 {
        width: 33.33%;
    }
    .sm-5 {
        width: 41.66%;
    }
    .sm-6 {
        width: 50%;
    }
    .sm-7 {
        width: 58.33%;
    }
    .sm-8 {
        width: 66.66%;
    }
    .sm-9 {
        width: 75%;
    }
    .sm-10 {
        width: 83.33%;
    }
    .sm-11 {
        width: 91.66%;
    }
    .sm-12 {
        width: 100%;
    }
    .link {
        flex-direction: row;
        font-size: 24px;
        flex-wrap: wrap;
    }
    .link a {
        font-size: 24px;
        margin: 20px 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .md-0 {
        display: none;
    }
    .md-1 {
        width: 8.33%;
    }
    .md-2 {
        width: 16.66%;
    }
    .md-3 {
        width: 25%;
    }
    .md-4 {
        width: 33.33%;
    }
    .md-5 {
        width: 41.66%;
    }
    .md-6 {
        width: 50%;
    }
    .md-7 {
        width: 58.33%;
    }
    .md-8 {
        width: 66.66%;
    }
    .md-9 {
        width: 75%;
    }
    .md-10 {
        width: 83.33%;
    }
    .md-11 {
        width: 91.66%;
    }
    .md-12 {
        width: 100%;
    }
    .link {
        font-size: 24px;
        flex-direction: column;
    }
    .link a {
        font-size: 24px;
        margin: 10px 0;
    }
}

@media screen and (min-width: 992px) {
    .lg-0 {
        display: none;
    }
    .lg-1 {
        width: 8.33%;
    }
    .lg-2 {
        width: 16.66%;
    }
    .lg-3 {
        width: 25%;
    }
    .lg-4 {
        width: 33.33%;
    }
    .lg-5 {
        width: 41.66%;
    }
    .lg-6 {
        width: 50%;
    }
    .lg-7 {
        width: 58.33%;
    }
    .lg-8 {
        width: 66.66%;
    }
    .lg-9 {
        width: 75%;
    }
    .lg-10 {
        width: 83.33%;
    }
    .lg-11 {
        width: 91.66%;
    }
    .lg-12 {
        width: 100%;
    }
    .link {
        font-size: 24px;
        flex-direction: column;
    }
    .link a {
        font-size: 24px;
        margin: 10px 0;
    }
}