* {
    margin: 0;
    padding: 0;  
}

a {
    color: #fff;
  }

/* header */

.bla {
    background-color: rgb(32, 31, 31);
    width: 100%;
    height: 59px;
    z-index: 999;
}

.header {
    background-color: rgb(32, 31, 31);
    font-family: 'Play';
    height: 59px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: rgb(32, 31, 31);
}

.header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: white;
}

.header li a:hover,
.header .menu-btn:hover {
    color: white;
    background-color: #4b4a4a;
}

.header .brandlogo {
    display: block;
    float: left;
    padding: 10px 20px 0 15px;
}

.header .brand {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 15px 10px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-align: center;
    z-index: 100000;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*points de bascule*/

@media (min-width: 992px) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media (max-width: 575.98px) {

    .header .menu a {
        font-size: 2em;
    }
    
    .header .brand {
        display: none;
    }

}

@media (min-width: 576px) and (max-width:991.98px) {

    .header .menu a {
        font-size: 2em;
    }

}